<h1>Home Details</h1>

<p><strong>Description:</strong> <%= @home.description %></p>
<p><strong>Year Built:</strong> <%= @home.year_built %></p>
<p><strong>Square Feet:</strong> <%= @home.square_feet %></p>
<p><strong>Bedrooms:</strong> <%= @home.bedrooms %></p>
<p><strong>Bathrooms:</strong> <%= @home.bathrooms %></p>
<p><strong>Availability:</strong> <%= @home.availability %></p>
<p><strong>Address:</strong> <%= @home.address %></p>
<p><strong>Price:</strong> <%= @home.price %></p>
<p><strong>Latitude:</strong> <%= @home.latitude %></p>
<p><strong>Longitude:</strong> <%= @home.longitude %></p>
